<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Блог</title>
</head>
<body>

<div class="container" style="width: 1200px">

    <h1>Блог для оттачивания навыков написания TypeScript</h1>

    <ul class="nav justify-content-center nav-pills">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/article/all">Все статьи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/book/all">Книжки</a>
        </li>
    </ul>

</div>

</body>
</html>