<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Добавление книги</title>
</head>
<body>
<a href="/book/all">на главную книжек</a>

<form action="/book/create" method="post">
    <div class="form-inner">
        <h3>Добавление книги</h3>
        <label for="title">Название книги</label>
        <input class="form-control" type="text" name="title" placeholder="Название">
        <label for="title">Автор книги</label>
        <input class="form-control" type="text" name="author" placeholder="Автор">
        <input type="submit" class="btn btn-success" value="Добавить">
    </div>
</form>

</body>
</html>